:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*:focus {
  outline-color: rgb(116, 114, 114);
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

h2 {
  color: #333;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;

}

input {
  height: 20px;
  font-size: 14px;
  color: #333;
  border-radius: 2px;
  background-color: #e9e7e6;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label, .input {
  font-size: 18px;
  margin-bottom: 20px;
  cursor: auto;
}

.input {
  width: 95%;
  height: 30px;
  padding-left: 15px;
  border: 2px solid black;
  border-radius: 10px;
}

.title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  color: #333;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
}

.card {
	text-align: center;
	line-height: 1;
	margin-right: 3px;
	margin-bottom: 3px;
	color: transparent;
	border: 2px solid black;
	background-color: rgb(158, 156, 156);
  border-radius: 5px;
  transform: scale(0.98);
	transition: .2s linear;
  cursor: crosshair;
}

.card:hover {
  background-color: lightgrey;
}

.card:disabled {
  cursor: auto;
}

.card.open {
	color: #e93525; 
  background-color: white;
	border-color: #e93525;
  transform: scale(1);
}

.card.success {
  color: rgb(17, 173, 17);
  border-color: rgb(17, 173, 17);
	background-color: white;
  transform: scale(0.98);
}

.start__btn, .again__btn {
  width: 100px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(17, 173, 17);
  transition: background-color .2s ease-in-out;
  cursor: pointer;
}

.again__btn {
  margin-top: 30px;
  width: 150px;
}

.retry__btn {
  cursor: pointer;
}

.start__btn:disabled {
  filter: grayscale(0.7);
  border-color: rgb(116, 115, 115);
  pointer-events: none;
}

.start__btn:hover, .again__btn:hover {
  background-color: rgb(21, 212, 14);
}

.start__btn:active, .again__btn:active {
  transform: scale(0.9);
}

.retry__btn:hover {
  color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 15 15' style='enable-background:new 0 0 15 15;' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:black;' d='M8,2.019V0L4,3l4,3V4.027c2.25,0.249,4,2.156,4,4.473c0,2.485-2.015,4.5-4.5,4.5S3,10.985,3,8.5 C3,8.331,3.01,8.164,3.027,8H1.019C1.007,8.165,1,8.332,1,8.5C1,12.09,3.91,15,7.5,15S14,12.09,14,8.5 C14,5.078,11.356,2.274,8,2.019z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  transition: background .2s ease-in-out;
}

.retry__btn:active {
  transform: scale(0.8);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 15 15' style='enable-background:new 0 0 15 15;' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:black;' d='M8,2.019V0L4,3l4,3V4.027c2.25,0.249,4,2.156,4,4.473c0,2.485-2.015,4.5-4.5,4.5S3,10.985,3,8.5 C3,8.331,3.01,8.164,3.027,8H1.019C1.007,8.165,1,8.332,1,8.5C1,12.09,3.91,15,7.5,15S14,12.09,14,8.5 C14,5.078,11.356,2.274,8,2.019z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}




